.info-icon {
}

.main-heading {
  background: #030390;
  color: white;
}

.highlight {
  background: #e1000f;
}

.accent {
  background: #030390;
}

.form-info {
  color: rgb(167, 167, 167);
  font-size: 0.8em;
}

.permission-icon {
  color: #030390;
  font-size: 3em;
}

.list-group-item {
  transition: 0.3s;
}

.list-group-item:hover {
  background: #ededed;
}

.footer-link {
  font-size: 0.8em;
}
