
$primary: #f2545b;
$primary-alpha: #f2545c45;
$secondary: #00a4bd;
$secondary-alpha: #00a4bd1e;
$ultra-light: #00a4bd;
$dark: #33475b;
$medium-gray: #a4a4a4;



$theme-colors: (
  "primary": $primary, 
  "secondary": $primary, 
  "success": $ultra-light, 
  "info": $ultra-light,
  "danger": $primary,
  "dark": $dark
);

@import "./bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  color: $dark;
}

.navbar { 
  margin: 0;
  padding: 0;
 }

.main-heading {
  background: $primary;
  color: white;
}

.highlight {
  background:$primary;
} 

.accent {
  background: $ultra-light;
} 

.form-info {
  color: $medium-gray;
  font-size: 0.8em;
}

.input-title {
  color: $primary; 
  font-size: 0.8em;
  margin-bottom: 0.3em;
  line-height: normal;
}

.container {
  max-width: 400px;
}

.permission-icon {
  color: $primary; 
  font-size: 1.8em;
}

.footer-link {
  font-size: 0.8em
}

.main-checkbox {
  display: none;
}

.checked {
  background: linear-gradient(-45deg, $primary-alpha, $secondary-alpha);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}