.info-icon {
}

.main-heading {
  background-color: #030390;
  color: white;
}

.highlight {
  background-color: #e1000f;
}

.accent {
  background-color: #030390;
}

.form-info {
  color: rgb(167, 167, 167);
  font-size: 0.8em;
}
