
$primary: #f2545b;
$primary-alpha: #f2545c45;
$secondary: #00a4bd;
$secondary-alpha: #00a4bd1e;
$ultra-light: #00a4bd;
$dark: #33475b;
$light-gray: #ededed;



$theme-colors: (
  "primary": $primary, 
  "secondary": $primary, 
  "success": $ultra-light, 
  "info": $ultra-light,
  "danger": $primary,
  "dark": $dark
);

@import "./bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  color: $dark;
}

.main-heading {
  background: $primary;
  color: white;
}

.bg-coral {
  background: $ultra-light;
}

.highlight {
  background:$primary;
} 

.accent {
  background: $ultra-light;
} 

.form-info {
  color: rgb(167, 167, 167);
  font-size: 0.8em;
}

.permission-icon {
  color: $primary; 
  font-size: 3em;
}

.footer-link {
  font-size: 0.8em
}

.main-checkbox {
  display: none;
}

.checked {
  background: $secondary-alpha;
}